body{
    font-family: "Arial"; /* make the whole page Arial */
}

h1{
    text-align: center;
}

.column{
    float: left;
    width: 50%;
    text-align: center;
}

.container{ /* aligning content in columns so that if the window is resized it is more readable */
    display: flex;
    flex-direction: row;
    align-items: start;
}

.column > .text{
    text-align: left;
}

h2{
    font-size: 20px;
}

h3{
    text-align: center;
    font-size: 40px;
}

button {
  background-color: blue;
  border: 2px solid black;
  color: white;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
}

button:hover { /* adding fancy so user can tell when they're hovering over the button by the color change */
  background-color: gray;
  color: white;
}
